.App {
  text-align: center;
}

h1 {
  margin: 0;
}
.main-container {
  height: 100%;
}
li {
  word-wrap: break-word;
  padding-top: 20px;
  padding-bottom: 20px;
}
ol {
  list-style: none;
}
input {
  width: 100%;
}